@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
header{
    background: linear-gradient(to right, #f7c5dc, #ef7f99);
    text-align: center;
    min-width: 150px;
    padding: 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.658) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url(fundo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

main{
    width: 75%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main p{
    padding-bottom: 5px;
    padding-top: 10px;
}
main h3 {
    padding: 8px;
    background-color: #ecb1bf;
}

main ul {
    padding-left:35px;
    padding-top: 5px;
}
a{
    text-decoration: none;
    color: rgb(234, 10, 234);
}

aside {
    background-color: #f0e5eb;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.484);
    padding-bottom: 5px;
}
aside >p{
    padding-left: 10px;
    padding-bottom: 5px;
}
aside.modulo{
    margin-top: 25px;
}

footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f8bdcb;
    margin-top: 10px;
    padding: 10px;
}
