@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android:'Android', sans-serif;
}

*{
    /*para retirar todos os espaços e o site "grudar" no inicio da página*/
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    min-width: 150px;
    padding-top: 40px;
}
h1#tituloPrincipal{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom:20px ;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.44) ;
    
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.44) ;
}
nav{
    background-color:var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.691) ;
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav >a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.494) ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main  h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2{
    background-color: #2B975A;
    background-image: linear-gradient(to right,#84E1AD, white );
    color: #1a402b;
    font-family: var(--fonte-android);
}
main a{
    text-decoration: none;
    color: var(--cor5);
}
main strong{
    color: var(--cor5);
}
main img{
    width: 100%;
}
main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}

section{
    background-color: #bcf6d6;
    border-radius: 10px;
}
section > p{
   padding: 5px;
}
h4{
    background-color: #3CD681;
    padding: 5px;
    border-radius: 10px;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
}