@charset "UTF-8";
*{
    margin:0px;
}
header{
    text-align: center;
    background-color: skyblue;
    padding: 10px;
}
body{
    background-color:rgb(197, 230, 244);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
h1{
    padding-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1.titulo{
    background-color: rgb(91, 203, 203);
}
p{
    padding: 5px;
    text-indent: 10px;
}
iframe#iniciando{
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
   
}
iframe.pag{
    width:45vh;
    height: 250px;
    margin: auto;
    display: block;
    border: 2px solid black;
}
a{
    text-decoration: none;
    color: rgb(43, 67, 219);

}
a:hover{
    text-decoration: solid;
    color: rgb(87, 113, 34);
}
footer{
    text-align: center;
    background-color: skyblue;
    padding: 10px;
}