@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#F69C9E,#F9D59B,#F2D9C5,#F6C8B8);
}
p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
main{
    background-color: rgb(255, 254, 254);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #909B71;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    color: #e835bf;
    text-shadow: 1px 1px 1px yellowgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1#principal{
    color: tomato;
    background-color: powderblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    color: yellowgreen;
    font: italic bolder 22px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.basico{
    color: rgb(57, 127, 127);
    text-align: center;
}
.avancado{
    color: rgb(176, 117, 224);
    text-align: right;
}

div{
    display: inline-block;
    background-color: rgb(78, 204, 64);
    border: 1px solid black;
    text-align: center;
    height: 150px;
    width: 150px;
}
div:hover{
    background-color: yellow;
}
/*hover = quando passar o mouse por cima*/

div > p{ /*configurações para os paragrafos que fica dentro da div --> filho (>)*/
    display: none; /*mantem o paragrafo oculto*/
}
div:hover >p{ /*configurações para para paragrafos que estão dento da div e o mouse passar por cima*/
    display: block;
    color: rgb(13, 13, 13);
    background-color: aqua;

}

a{
    color: violet;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color: rgb(176, 117, 224);
}
a:hover{
    color: tomato;
    text-decoration: underline;
}
a::after{ /*depois de todo link */
    content: ' [LINK]'; /*conteudo*/
}

h3{
    width: 250 ;
    height: 100;
    background-color: #F9D59B;

    border-width: 10px;
    border-style: solid;
    border-color: #909B71;
    /* simplificado(shorthand): border :expessura, estilo ,cor */

    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px
    
    /*simplificado (shorthand): padding: topo, direita, baixo, esquerda;    */

}

header{
    width: 600px;
    background-color: yellow;
    margin: 10px;
}
nav{
    background-color: lightgray;
    box-shadow: 1px 2px 1px black;
}
nav > a{
    color: rgb(64, 62, 62);
}
nav > a:hover{
    text-decoration: underline;
}
main#caixa{
    background-color: #909B71;
    padding: 5px;
    margin: 55px,20px,30px 30px;
    
}
article{
    background-color: rgb(36, 169, 174);
}
article > aside{
    background-color: #F69C9E;
}
footer{
    background-color: teal;
    text-align: center;
    margin: 0px;
}


