@charset "UTF-8";
/*Estilo para telas*/
*{
    margin:0px;
    padding: 0px;
}
header{
    background-color: skyblue;
}

body{
    background-color:rgb(197, 230, 244);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
h1{
    padding-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
i#burguer{
    background-color:rgba(122, 122, 234, 0.158); 
    color: rgb(13, 25, 185);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
i#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}
menu ul{
    list-style-type: none;
    background-color: rgb(79, 170, 212);
}
menu li{
    background-color: rgba(122, 122, 234, 0.158);
    color: rgb(13, 25, 185);
    display: inline-block;
    padding: 10px;
}
div.iframe{
    display: flex;
    justify-content: center;   /* centraliza horizontal */
    align-items: center;       /* centraliza vertical */
    
}

h2{
    padding-left: 25px;
    text-align: center;
    background-color: rgb(91, 203, 203);   
    
}
p{
    padding: 5px;
    text-indent: 10px;
}

a{
    text-decoration: none;
    color: rgb(43, 67, 219);

}
a:hover{
    text-decoration: solid;
    color: rgb(87, 113, 34);
}


footer{
    text-align: center;
    background-color:skyblue;
    padding: 10px;
}
footer > h4{
    padding-top: 10px;
}

footer div{
    list-style-position: inside;
    columns: 4;
    padding-top: 5px;
}